<div class="container">
    <div class="col-md-12"><h1>About</h1></div>
    <div class="col-md-12">
    <p>I am a programmer with a vision to help people to acheive their goals and their vision with the help of technology. For me technology is a tool which we use to create something which makes our life easier and our work better. Currently i am focused on web technologies and providing services like website development, website maintenance, web apps etc for various clients across the globe.</p>
    </div>
    <div class="col-md-12"><h1>Skills</h1></div>
    <div class="col-md-12">
        <div class="row">
                
                
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="PHP" style="font-size:3em;"><i class="fa fa-php" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="HTML 5" style="font-size:3em;"><i class="fa fa-html5" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="CSS 3" style="font-size:3em;"><i class="fa fa-css3" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="Javascript" style="font-size:3em;"><i class="icon-javascript" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="Node JS" style="font-size:3em;"><i class="icon-nodejs" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="Shell" style="font-size:3em;"><i class="icon-shell" ></i></a>
                </div>
            </div>
            
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="MySQL" style="font-size:3em;"><i class="icon-mysql-alt" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="Amazon Web Services" style="font-size:3em;"><i class="icon-aws" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="Google Apps" style="font-size:3em;"><i class="icon-google-alt" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="Google Code" style="font-size:3em;"><i class="icon-google-code" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="Google Developers" style="font-size:3em;"><i class="icon-google-developers" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="Facebook APIs" style="font-size:3em;"><i class="fa fa-facebook-official" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="Heroku" style="font-size:3em;"><i class="icon-heroku" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="Wordpress" style="font-size:3em;"><i class="icon-wordpress"></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="Joomla" style="font-size:3em;"><i class="fa fa-joomla" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="Drupal" style="font-size:3em;"><i class="fa fa-drupal" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="Linux" style="font-size:3em;"><i class="fa fa-linux" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="Apache" style="font-size:3em;"><i class="icon-apache" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="Windows" style="font-size:3em;"><i class="fa fa-windows" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="GIT" style="font-size:3em;"><i class="fa fa-git" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="Paypal APIs" style="font-size:3em;"><i class="fa fa-paypal" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="Cloud Development" style="font-size:3em;"><i class="fa fa-cloud" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="REST APIs" style="font-size:3em;"><i class="fa fa-code" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="" style="font-size:3em;"><i class="fa fa-terminal" ></i></a>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="service-box">
                    <a href="http://honeyonsys.github.io" data-toggle="tooltip" data-placement="bottom"  title="Amazon Web Service" style="font-size:3em;"><i class="fa fa-amazon" ></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
