<div class="container">
    <div class="col-md-12"><h1>About</h1></div>
    <div class="col-md-12">
    
    <p>Tejindra enterprises is leading manufacturer from last 15 years in Manufacturing of Steel Rollers like Tension Leveller Rolls, Work Rolls, Back Up Rolls, Calender Rolls, Single and double jacketed Rolls, Paper Mill Rolls, Accumulator, Bridle and various types of Solid Induction Harden Rolls. Well equiped machining shop having 8 turning lathe machine, Maximum 1200 mm diameter and 4 mtrs in length, Shaping, Drilling, Arc and Tig Welding rectifires and Portable Keyway Milling Machine. The Machine shop is forced with excellent team of engineers.</p>
    </div>
    
    
</div>
