<section id="contact">
        
    <div class="container">
        <div class="row contact_form">
            <div class="col-md-6 no-float">
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="userName" aria-describedby="nameHelp" placeholder="Enter Full Name">
                </div>
                <div class="col-md-12 form-group">
                    <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="col-md-12 form-group">
                    <textarea class="form-control" id="userMessage" rows="3" placeholder="Your Message"></textarea>
                </div>
                <div class="col-md-12 form-group">
                    <button class="btn-primary form-control" id="submitMessage" rows="3">Send Us Your Query</button>
                </div>
            </div>
            <div class="col-md-6 contact_map no-float"></div>
            
        </div>
    </div>
</section>
