<h1>Services</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4 service">
            <div class="col-md-12"><h4>10" and 10ft roll delivery</h4></div>
            <div class="col-md-12 service_img"><img src="assets/img/10inch_10ft_roll_delivery.jpg" /></div>
        </div>
        <div class="col-md-4 service">
            <div class="col-md-12"><h4>12' and 10ft long rolls</h4></div>
            <div class="col-md-12 service_img"><img src="assets/img/12inch_10ft_long_rolls.jpg" /></div>
            
        </div>
        <div class="col-md-4 service">
            <div class="col-md-12"><h4>Diamond Polished Die</h4></div>
            <div class="col-md-12 service_img"><img src="assets/img/diamond_polished_die.jpg" /></div>
            
        </div>
        <div class="col-md-4 service">
            <div class="col-md-12"><h4>Mirror finished die</h4></div>
            <div class="col-md-12 service_img"><img src="assets/img/mirror_finished_die.jpg" /></div>
            
        </div>
        <div class="col-md-4 service">
            <div class="col-md-12"><h4>Handchome Plating</h4></div>
            <div class="col-md-12 service_img"><img src="assets/img/hardchrome_plating.jpg" /></div>
            
        </div>
        <div class="col-md-4 service">
            <div class="col-md-12"><h4>Handchome Plating</h4></div>
            <div class="col-md-12 service_img"><img src="assets/img/1.jpg" /></div>
            
        </div>
    </div>
</div>