/*honeyonsys - fullstack web developer and programmer
nav color: 1A237E
title color: 1976D2
para color: 37474F
*/

.body{
    font-family: 'Quicksand', sans-serif;
    background:#ffffff;
    margin:0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Orbitron', sans-serif;
}
.main_cont{
    width:100%;
    height:auto;
    float: left;
    margin:0;
}
.left_nav{
    width:20%;
    
    float: left;
    background: #000000;
}