/*
Title: honeyonsys - full stack web developer
Description: honeyonsys is a full stack developer based in ludhiana punjab india, he is providing services in web technologies, his services include web development, website maintenance, website customzations, web applications development etc.
Author: honeyonsys
Author URL: http://honeyonsys.github.io
font-family: 'Rajdhani', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Julius Sans One', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700|Rajdhani:400,700');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background: #BBBDC0;
    
}
#pageIdentity{
    visibility: hidden;
    width:1px;
    height:1px;
    overflow: hidden;
    position: fixed;
}
.homeBtn{
    width: 40px;
    height: 40px;
    position: fixed;
    right: 20px;
    margin-top:10px;
    
}
#leftBar{
    width: 350px;
    height:auto;
    min-height: 600px;
    float: left;
    background: #BBBDC0;
}
.footer{
    width:calc(100% - 20px); 
    height: auto;
    min-height: 30px;
    float: left;
    padding:10px;
    font-size:12px;
    background:#CDCDCD;
}
section{
    width: -moz-calc(100% - 40px);
    /* WebKit */
    width: -webkit-calc(100% - 40px);
    /* Opera */
    width: -o-calc(100% - 40px);
    /* Standard */
    width: calc(100% - 40px);
    padding:20px;
    float:left;
}
    

.serviceBox{
    width:300px;
    height:400px;
    float: left;
    border: #000 dashed 1px;
    margin-left:30px;
}
.serviceIcon:first-child{
    margin-left:0;
}
.serviceIcon{
    width:300px;
    height: 300px;
    float: left;
}
.serviceIcon i{
    font-size:200px;
}
.heading{
    width:100%;
    float: left;
    padding:10px 0 10px 0;
    font-family: 'Julius Sans One', sans-serif;
}
.heading h1, .heading h3{
    color:#5F6368; 
    font-size:50px;
    margin:0px;
}
.heading h3 {
    font-size:30px;
}

.profile_pic {
    width:100%;
    height:auto;
    float:left;
    background-color: #3B3B3B;
    overflow: hidden;
    text-align: center;
}
.profile_pic img{
    width:250px;
}
.profileName{
    width:100%; 
    height:30px;
    float: left;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Julius Sans One', sans-serif;
}
.subLine{
    width:100%;
    height:30px;
    float: left;
    margin-bottom: 20px;;
    font-size:15px;
    font-weight: bold;;
}
.profile_desc{
    width: 90%;
    height: auto;
    float: left;
    margin-left: 20px;
    font-size: 15px;
}


.triangle-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 15px solid #FDC012;
	border-bottom: 10px solid transparent;
    float:left;
}
.skill{
	width:auto;
    height:20px;
    float:left;
    margin-right:10px;
    margin-top: 10px;
    background:#358FCD;
    padding-right:10px;
}
.tagName{
	width:auto;
    height:20px;
    float:left;
    font-size:12px;
    color:#ffffff;
    line-height:20px;
    padding-left:5px;
}

.socialLinks{
    width:30px;
    height:30px;
    float:left;
    margin-right:20px;
    border-radius: 5px;
    overflow: hidden;   
    text-align: center;
    
}

.contact{
    width:300px;
    height:40px;
    float:left;
    margin-top: 10px;
    margin-right:20px;
}
.contactIcon{
    width:40px;
    height:40px;
    float:left;
    border-radius:5px;
    overflow: hidden;
}

.contactDetail{
    width:250px;
    height:40px;
    float: right;
    font-size:14px;
    line-height: 40px;
}
.contactDetail a{
    color:#000000;
}
#rightArea{
    width: calc(100% - 390px);
    float: left;
    padding-left: 20px;
    padding-right:20px;
    height: auto;
    background: #EEEFF0;
}

#blogList, #singleBlog{
    width:100%;
    height:auto;
    float: left;
    margin-top: 10px;
}
#singleBlog ul li {
    margin-top: 20px;
    font-style: italic;
}
#singleBlog img {
    max-width: 100%;
}
.blog{
    width:calc(100% - 70px);
    height:auto;
    float: left;
    margin-top:30px;
    padding-bottom: 20px;
    padding-left:60px;
    border-bottom:#CDCDCD dashed 1px;
    background:url(../img/blogIcon.png) no-repeat 2px 5px;
    background-size: 50px 50px;
}
.blogTitle{
    width:100%;
    height:auto;
    float: left;
    font-size: 25px;
    
    
}
.blogTitle a{
    text-decoration: none;
}
.blogTitle a:hover{
    text-decoration: underline;
}
.blogTitle h1 {
    font-size:25px;
    margin-top:0;
    color:#463FA7;
}
.blogTitle h3 {
    margin-top:0;
    color:#463FA7;
}
.blogBelowLine{
    width: calc(100% - 60px);
    height:40px;
    float: left;
    margin-top: 10px;
}
.blogTags{
    width:auto;
    height:20px;
    float: left;
    line-height: 20px;
    font-size:13px;
    color: #155986;
    text-shadow: #ffffff 0px 0px 5px;
    text-align: center;
    padding:0 10px;
    cursor: pointer;
    margin-right:10px;
    margin-top:10px;
    background: #81C9E4;
    border-radius:2px;

}
.datePublished {
    width: auto;
    height:20px;
    float: right;
    line-height: 20px;
    font-size:12px;
    font-weight: bold;

}
.datePublished span{
    color: #155986;
    font-weight: normal;
}
.blogDescription{
    width:100%;
    height:auto;
    float: left;
    margin-top:40px;
    
}
.blogDescription img {
    width:100%;
    height: auto;
    box-shadow: 0 0 10px #000000;
}
.blogDescription i {
    font-size:15px;
    background-color: #BBBDC0;
    padding:0 5px;
}
span.code{
    width:99%;
    height: auto;
    background:#000;
    color: #BBBDC0;
    float: left;
    padding:10px 2;
}
.prettyprint {
    background-color: #BBBDC0;
    overflow-x: auto;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
}
.prettyprint ul {
    list-style: none !important;

}
.prettyprint ul li {
    margin:0px !important;
}
.adBanner{
    width:100%; 
    height: auto;
    float: left;
    margin-left: 10px;
    margin-top:10px;
    
}
.Ad728{
    width:730px;
    height:auto;
    float: left;
    margin-top:10px;
}

@media (max-width: 768px) {
    #leftBar {
        width:100%;
        float: left;
        min-height:250px;
    }
    #rightArea {
        width:100%;
        float: left;
        padding-left: 0px;
        padding-right:0px;

    }
    
}
@media (max-width:480px) {
    .Ad728{
        display:none;
    }
}